<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <title>Club Create</title>
    <link href="css/templatemo-topic-listing.css" rel="stylesheet">

</head>
<body class="topics-listing-page" id="top">

<main>

    <section layout:fragment="body" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <h3 class="mb-4 pb-2">Let's create a new club</h3>
                </div>

                <div class="col-lg-9 col-md-9">
                    <form th:action="@{/clubs/new}" th:object="${club}" method="post" class="custom-form contact-form" role="form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-floating">
                                    <input type="text" name="title" id="title" th:field="*{title}" class="form-control" placeholder="Title" required="">
                                    <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
                                    <label for="title">Title</label>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-floating">
                                    <input type="text" name="photoUrl" id="photoUrl" th:field="*{photoUrl}" class="form-control" placeholder="Photo Url" required="">
                                    <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
                                    <label for="photoUrl">Photo Url</label>
                                </div>
                            </div>

                            <div class="col-lg-12 col-12">
                                <div class="form-floating">
                                    <textarea type="text" name="content" id="content" th:field="*{content}" class="form-control" placeholder="Content" required=""></textarea>
                                    <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
                                    <label for="content">Content</label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-9 ms-auto">
                                <button type="submit" class="form-control">Create</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>