<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<body class="topics-listing-page" id="top">

<main>

    <section layout:fragment="body" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 m-auto">
                    <h3 class="mb-4" th:text="${event.name}"></h3>
                    <p th:text="${event.createdOn}" style="color: #6c757d"></p>
                    <p th:text="${event.type}"></p>

                    <div class="row align-content-center">
                        <div class="col-lg-8 col-md-6 col-12">
                            <img th:src="${event.photoUrl}" class="topics-detail-block-image img-fluid" alt="">
                        </div>
                    </div>
                    <!--<a th:href="@{/clubs/{clubId}/edit(clubId=${club.id})}" class="btn custom-btn mt-3 mt-lg-4">
                        Edit
                    </a>
                    <a th:href="@{/clubs/{clubId}/delete(clubId=${club.id})}" class="btn custom-btn bg-danger mt-3 mt-lg-4">
                        Delete
                    </a>-->
                </div>
                <br>
            </div>
            <br>
        </div>
    </section>
</main>

</body>
</html>